* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #fff;
  max-width: 100vw;
}
h3,
h4 {
  font-family: fahkwang;
}
h3{
  text-align: center;
}
p{
  font-family: Helvetica;
}
/* Header */
.menu {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .logo img {
  width: 100px;
}
ul.menu {
  list-style: none;
  background-color: #fff;
  position: fixed;
  width: 100%;
}
ul.menu li {
  display: inline-block;
}
ul.menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 25px 20px;
  font-weight: 600;
  transition: 0.3s;
  font-size: 0.9em;
}
ul.menu a:hover {
  color: #b10c72;
}

/* Primera vista */

.first-view {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(/assets/fondo.webp) no-repeat;
  background-size: cover;
  padding: 0 40px;
  color: white;
  font-size: 1.5em;
}
.first-view .text {
  width: 60%;
}
.first-view .text h1 {
  display: inline;
  transition: 1s;
  font-size: 1.8em;
}
.first-view .text h2 {
  transition: 1s;
}
.first-view .text h1:hover {
  color: #b10c72;
}
.first-view .contenedor {
  width: 100%;
}
.first-view .btn-first {
  margin-top: 40px;
}
.btn-first a {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  padding: 10px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 40px;
  display: inline;
}
.btn-first a:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Second view-------------------------------- */

.second-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.second-view .second-left {
  width: 50%;
}
.second-left h3 {
  font-size: 2em;
}
.second-left p {
  margin: 20px 0;
}
/* Second view dos-------------------------------- */

.second-view-dos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.second-view-dos .second-dos-left {
  width: 50%;
}
.second-dos-right{
  width: 50%;
}
.second-dos-right h3 {
  font-size: 2em;
}

/* Third view----------------------- */
.third-view {
  background-color: #333333;
  color: #fff;
}
.third-view h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}
.third-view p {
  text-align: center;
  padding-bottom: 20px;
}
.servicios {
  background-color: black;
  padding-bottom: 40px;
}
.servicios h3 {
  color: #ff1a8f;
}
.contenedores-servicios {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.servicio-individual {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.servicio-individual img {
  width: 150px;
}
.servicio-individual h3 {
  font-size: 1.3em;
  color: #fff;
}
.servicio-individual p {
  padding: 20px;
}
.contenedores-servicios .btn-first {
  margin-top: 40px;
  font-size: 1.2em;
}
.servicios-abajo{
  display: flex;
  background-color: #fff;
  color: black;
  padding-top: 40px;
}
.servicios-abajo .servicio-individual h3{
  color: black;
}

/* Nosotros--------------------------------- */
.nosotros {
  background-size: cover;
  padding: 20px 40px;
}
.contenido-nosotros {
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: #fff;
}
.contenido-uno {
  margin-bottom: 20px;
  color: black;
  width: 40%;
  padding: 0 40px;
}
.contenido-uno h4 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: black;
}
.nosotros-titulo{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.nosotros-titulo h4{
  margin-left: 20px;
}
.nosotros-titulo img{
  width: 40px;
}
.nosotros-dos{
  background-color: black;
}
.nosotros-dos .contenido-nosotros{
  display: flex;
  flex-direction: column;
}
.nosotros-dos .contenido-nosotros h3{
  color: black;
  font-size: 2em;
  margin-bottom: 40px;
}
.nosotros-dos .contenido-nosotros h4{
  color: #b10c72;
}
.nosotros-dos .contenido-nosotros p{
  color: black;
}
.nosotros-dos .contenido-nosotros .contenido-uno{
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
span{
  color: #ff1a8f;
  background-color: #fff;
  padding: 2px;
}

/* --------------------------------------- */

.contacto {
  width: 100%;
  background-color: black;
  display: flex;
  margin-top: 80px;
}
.contacto .contacto-left {
  width: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.contacto-left h3 {
  color: #1e5db2;
  font-size: 1.3em;
}
.contacto-left p {
  font-size: 1em;
}
.formulario {
  width: 50%;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
}
.formulario form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
form input {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
}
.formulario .btn-first{
    text-decoration: none;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    padding: 10px 25px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 40px;
    display: inline;
    width: 200px;
    margin-top: 20px;
}
.formulario .btn-first:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.contacto-parrafo {
  text-align: center;
  margin: 40px auto;
  font-weight: 600;
  width: 80%;
  font-size: 1.2em;
}
.icons {
  color: #fff;
}
.iconos {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
}
.iconos img {
  width: 50px;
}
footer {
  padding: 10px 40px;
  font-size: 0.8em;
}

.slider {
  width: 200px; /* Ancho de cada imagen */
  overflow: hidden; /* Oculta el contenido fuera del contenedor */
  margin: 0 auto; /* Centra el contenedor */
}

.slide {
  float: left; /* Hace que las imágenes se apilen horizontalmente */
}

.sli {
  background-color: black;
  padding: 80px 0;
  margin-top: 20px;
}
.texto-slider {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}




/* Responsive----------------------------- */

@media (max-width: 950px) {
    /* Header */
  .menu .logo img {
    width: 50px;
  }
  ul.menu a {
    padding: 15px 5px;
    font-size: 0.5em;
  }

  /* Primera vista */

  .first-view {
    padding: 0 20px;
    font-size: 1.2em;
  }
  .first-view .text {
    width: 90%;
  }
  
  /* Second view-------------------------------- */
  
  .second-view {
    flex-direction: column;
  }
  .second-view .second-left {
    width: 100%;
    margin-top: 20px;
  }
  .second-left h3 {
    font-size: 1.5em;
  }
  .second-left p{
    margin-bottom: 40px;
  }
  .second-right img{
    width: 95%;
    margin-top: 40px;
  }
  
  /* Third view----------------------- */
  .third-view h3 {
    font-size: 1.8em;
  }
  .third-view p {
    padding-bottom: 10px;
  }
  .contenedores-servicios {
    flex-direction: column;
    align-items: center;
  }
  .servicio-individual {
    width: 90%;
  }  
  
  /* Nosotros--------------------------------- */
  .nosotros {
    padding: 10px 10px;
  }
  /* --------------------------------------- */
  
  /* --------------------------------------- */
  .contacto-parrafo h3 {
    margin: 20px 10px;
    font-size: 1em;
    text-align: center;
  }
  .contacto {
    flex-direction: column;
    margin-top: 10px;
  }
  .contacto .contacto-left {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contacto-left p {
    font-size: 1em;
  }
  .formulario {
    width: 100%;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .formulario form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  form input {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
  }
  .btn-envio {
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: #b10c72;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    width: 200px;
  }
  .icons {
    color: #fff;
  }
  .iconos {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
  }
  .iconos img {
    width: 50px;
  }
  footer {
    padding: 10px 40px;
    font-size: 0.8em;
  }

  .slider {
    width: 100%; /* Utiliza el 100% del ancho disponible en dispositivos móviles */
    text-align: center; /* Centra el contenido dentro del contenedor */
  }

  .slide {
    display: inline-block; /* Muestra las imágenes en línea para que se centren */
    float: none; /* Anula la propiedad float */
  }

  .second-view-dos {
    display: flex;
    flex-direction:column-reverse;
    padding: 40px;
  }
  .second-view-dos .second-dos-left {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .second-view-dos .second-dos-left img{
    width: 90%;
    margin-top: 40px;
  }
  .second-dos-right{
    width: 90%;
  }
  .second-dos-right h3 {
    font-size: 1.5em;
  }

  /* --------------------------------- */
  .servicios-abajo{
    flex-direction: column;
    align-items: center;
  }
  .servicios-abajo .servicio-individual h3{
    color: black;
  }
  /* ----------------------- */

  .contenido-nosotros {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
  }
  .contenido-uno {
    margin-bottom: 20px;
    color: black;
    width: 100%;
    padding: 0 10px;
  }
  .contenido-uno h4 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: black;
  }
  .nosotros-titulo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .nosotros-titulo h4{
    margin-left: 20px;
  }
  .nosotros-titulo img{
    width: 40px;
  }
}